@model CBMS.Models.Inventory.ItemCategoryModel

@if (Model != null)
{
    using (Ajax.BeginForm("EditItemCategory", new AjaxOptions { OnBegin = "OnBegin", OnComplete = "HideEditItemCategoryModal", HttpMethod = "POST", UpdateTargetId = "ItemCategoryList" }))
    {

        <div class="modal fade" id="EditItemCategoryModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit VisaType</h4>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label>Item Category Name: </label>
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Item Category Name in warehouse" } })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
}