@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CHINA BAR MANAGEMENT SYSTEM</h1>
    <p class="lead">CBMS is a system for management staffs to manage different areas of China Bar and Group of restaurants. It aims at assisting daily tasks of each different role. At the moment, there is a Roster module is planned to be developed, and it is aimed to deliver in January 2015 .</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Staff List</h2>
        <p>
            This Roster module aims to deliver on 17th November. It can do search staffs, add, update, delete staffs, view staffs group by outlet band , outlet location, position.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting more</h2>
        <p>Stage 2 of Roster module has more functions and aims to deliver on 24th Decemeber. Functions include alert if no vevo, alert if visa going to expire, annual leave and sick leave count, sort by date of staffs, etc.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>and more</h2>
        <p>3rd Stage will be planned to deliver on mid January. Payroll History, match code differenece, calculations of wages based on hours, are the features.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>